
# not allow temporary files
*~
.DS_Store
*.swp
.sass-cache/
Gemfile.lock
node_modules/

# not allow output files
release/
build/
*.css
*.css.map

# not allow .blend files
*.blend

# not allow PSD files
*.psd
