$body-background-color: #101010;
$body-font-color: #E0E0E0;

$toc-background-color: #D0D0D0;
$toc-font-color: #303030;
$toc-item-background-color: #303030;
$toc-item-font-color: #C0C0C0;
$toc-item-hover-background-color: $toc-item-background-color + #202020;

$sp-toc-background-color: #D0D0D0;
$sp-toc-font-color: #303030;
$sp-toc-item-background-color: #D0D0D0;
$sp-toc-item-font-color: #606060;
