@import "components/_fonts.scss";

html {
    body {
        font-family: NotoSansCJKjp;
        margin-left: 1.0rem;
        margin-right: 1.0rem;
        padding-top: 0.5rem;
        header {
            text-align: center;
            div.contact {
                font-size: 0.8rem;
                display: inline-block;
                width: 48%;
                text-align: left;
            }
            div.share {
                display: inline-block;
                width: 48%;
                text-align: right;
            }
        }

        footer {
            margin-top: 2rem;
            text-align: center;
            p {
                &.author {
                    text-align: center;
                }
            }
            div.prev-next-url {
                div.prev-url {
                    display: inline-block;
                    width: 48%;
                    text-align: left;
                }
                div.next-url {
                    display: inline-block;
                    width: 48%;
                    text-align: right;
                }
            }
        }
        div.toc {
            position: absolute;
            width: 20rem;
            overflow-y: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            p.date {
                text-align: center;
                font-size: 0.8rem;
            }
            p.title {
                text-align: center;
                font-weight: bold;
                font-size: 1.2rem;
            }
            ul {
                margin-left: -1.6rem;
                border-top: 1px solid #E0E0E0;
                li {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-bottom: 1.3rem;
                    margin-top: 1.3rem;
                }
                ul {
                    margin-left: -2.0rem;
                    border-top: 0px;
                    li {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin-bottom: 1.3rem;
                        margin-top: 1.3rem;
                    }
                }
            }
        }


        div.body {
            position: absolute;
            left: 20rem;
            overflow-y: auto;
            top: 0;
            bottom: 0;
            right: 0;

            div.body-inner {
                padding: 2rem;
                max-width: 60rem;
                margin-left: auto;
                margin-right: auto;

                p.author {
                    text-align: center;
                    font-size: 0.7rem;
                }

                p.subtitle {
                    font-size: 2.5rem;
                }

                figure {
                    margin-left: 0.3rem;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    img {
                        max-width: 90%;
                    }
                }
                hr {
                    margin-top: 2.5rem;
                    margin-bottom: 2rem;
                    border: 0.5px #E0E0E0 solid;
                }
                p {
                    margin-left: 0.3rem;
                    code {
                        background-color: #F0F0F0;
                    }
                    img {
                        max-width: 90%;
                    }
                }
                div {
                    &.column {
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        padding: 0.5rem;
                        margin-left: 0.3rem;
                        background-color: #F0F0F0;
                        border: 2px dotted;
                        max-width: 90%;
                        width: initial;
                        p {
                            padding: 0rem;
                            margin: 0rem;
                        }
                    }
                }
                pre {
                    margin-left: 0.3rem;
                    border: 1px solid;
                    code {
                        padding: 1.0rem !important;
                    }
                }
                div {
                    &.work + table {
                        max-width: 100%;
                        width: 90% !important;
                        colgroup {
                            col {
                                width: initial !important;
                            }
                        }
                        tbody {
                            tr {
                                &:nth-child(even) {
                                    background-color: #F3F3F3;
                                }
                                &:nth-child(odd) {
                                    background-color: #D9D9D9;
                                }
                                td {
                                    border: 0.05rem #FFFFFF solid;
                                    padding: 1.0rem;
                                    img {
                                        margin: 1.0rem;
                                        max-width: 90%;
                                    }
                                    &:nth-child(1) {
                                        text-align: center;
                                        font-size: 1.0rem;
                                        font-weight: bold;
                                        color: #F0F0F0;
                                        background-color: #707070;
                                        width: 1.0rem;
                                        max-width: 1.0rem;
                                    }
                                }
                            }
                        }
                    }
                }
                table {
                    width: initial !important;
                    margin-left: 0.3rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    colgroup {
                        col {
                            width: initial !important;
                        }
                    }
                    thead {
                        tr {
                            th {
                                font-size: 1.0rem;
                                background: #707070;
                                color: #F0F0F0;
                                padding-left: 1.0rem;
                                padding-right: 1.0rem;
                                padding-top: 0.5rem;
                                padding-bottom: 0.5rem;
                            }
                        }
                    }
                    tbody {
                        tr {
                            &.odd {
                                td {
                                    background: #D9D9D9;
                                    padding-left: 1.0rem;
                                    padding-right: 1.0rem;
                                    padding-top: 0.5rem;
                                    padding-bottom: 0.5rem;
                                }
                            }
                            &.even {
                                td {
                                    background: #F3F3F3;
                                    padding-left: 1.0rem;
                                    padding-right: 1.0rem;
                                    padding-top: 0.5rem;
                                    padding-bottom: 0.5rem;
                                }
                            }
                        }
                    }
                }
                a {
                    text-decoration: none;
                }
                ul, ol {
                    margin-left: 1.0rem;
                    li {
                        ul {
                            margin-left: 0rem;
                        }
                    }
                }
                h1 {
                    font-size: 1.7rem;
                    background: #303030;
                    color: #F0F0F0;
                    margin-top: 2.5rem;
                    margin-bottom: 2.5rem;
                    padding-left: 0.8rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                }
                h2 {
                    font-size: 1.4rem;
                    margin-top: 2.0rem;
                    margin-bottom: 1.5rem;
                    padding-left: 0.5rem;
                    padding-bottom: 0.2rem;
                    border-bottom: 1px solid #E0E0E0;
                }
                h3 {
                    display: inline-block;
                    font-size: 1.2rem;
                    margin-top: 2rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-bottom: 0.2rem;
                    border-bottom: 3px double #D0D0D0;
                    border-top: 3px double #D0D0D0;
                    color: #404040;
                }
                h4 {
                    margin-left: 0.3rem;
                }
            }
        }
    }
}
