@charset "utf-8";

@import "compass";

@import "_fonts.scss";
@import "_utils.scss";

@import "_vars.scss";


html {
    @include pc {
        font-size: 16px;
    }
    @include sp {
        font-size: 16px;
    }

    body {
        font-family: NotoSansCJKjp;
        background-color: $body-background-color;
        color: $body-font-color;
        @include pc {
            margin-left: 1.0rem;
            margin-right: 1.0rem;
            padding-top: 0.5rem;
        }
        @include sp {
            margin: 0;
            padding: 0;
        }
        header {
            text-align: center;
            div.contact {
                font-size: 0.8rem;
                display: inline-block;
                width: 48%;
                text-align: left;
            }
            div.share {
                display: inline-block;
                width: 48%;
                text-align: right;
            }
        }

        footer {
            margin-top: 2rem;
            text-align: center;
            p {
                &.author {
                    text-align: center;
                }
            }
            div.prev-next-url {
                div.prev-url {
                    display: inline-block;
                    width: 48%;
                    text-align: left;
                }
                div.next-url {
                    display: inline-block;
                    width: 48%;
                    text-align: right;
                }
            }
        }

        @include pc {
            @include toggle-pc-toc-open();
            @include toggle-pc-toc-close();
        }
        @include sp {
            @include toggle-sp-toc-open();
        }

        @import "components/_toc.scss";
        @import "components/_body.scss";

    }
}
