@import "../common/_fonts.scss";

.pdf-footer {
    border-top: 1px solid #333333;
    //font-size: 0.45em;
    font-size: 0.6em;
    color: #333333;
    font-family: NotoSansCJKjp;
    margin-top: 20px;
    padding-top: 0px;
    text-align: center;
    .footer-pages-count {
        text-align: center;
        color: #333333;
        float: none;
    }
}
