@import "../common/_fonts.scss";

.page {
    .section {
        &.glossary {
            >h1 {
                text-align: center;
                font-family: MPlus;
                margin-left:auto;
                text-align: right;
                padding-right: 7px;
                width: 100%;
                overflow: hidden;
                height: 250px;
                font-size: 0.65em * 3;
                background-image: url('https://dl.dropboxusercontent.com/s/o4kgodzmoi21ibn/sect_title_img_0_0.png');
                background-size: cover;
                position: relative;
            }
        }
    }
}
