@import "../common/_fonts.scss";

.pdf-header {
    border-bottom: 1px solid #333333;
    font-size: 0.6em;
    color: #333333;
    font-family: NotoSansCJKjp;
    margin-top: 35px;
    padding-bottom: 3px;
    text-align: center;
}
