@import "../common/_fonts.scss";

.page {
    .section {
        &.toc {
            >h1 {
                text-align: center;
                font-family: MPlus;
                margin-left:auto;
                margin-right: auto;
                overflow: hidden;
                font-size: 0.65em * 3;
            }
            li {
                margin-top: 10px;
                .inner {
                    a {
                        font-size: 0.7em;
                        font-family: MPlus;
                    }
                    .page {
                        font-family: MPlus;
                        font-size: 0.7em;
                        //border-bottom: 1px solid #EEEEEE;
                        border-bottom: 0px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}
