@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: normal;
    src: url('https://dl.dropboxusercontent.com/s/1uagfjphtpb5aaq/NotoSansCJKjp-DemiLight-Subset.woff') format('woff');
}

@font-face {
    font-family: "MPlus";
    font-style: normal;
    font-weight: normal;
    src: url('https://dl.dropboxusercontent.com/s/tmzaf75eoklqs75/mplus-1c-bold.ttf') format('truetype');
}

@font-face {
    font-family: "Hack";
    font-style: normal;
    font-weight: normal;
    src: url('https://dl.dropboxusercontent.com/s/vnhqzxqn6kxguqu/Hack-Regular.ttf') format('truetype');
}



@mixin table($font_size) {
    table {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        thead {
            tr {
                th {
                    font-family: MPlus;
                    font-size: $font_size * 1.1;
                    color: #EEEEEE;
                    background-color: #000000;
                    padding: 5px 10px;
                    white-space: nowrap;
                    max-width: 30%;
                    min-width: 20%;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-family: NotoSansCJKjp;
                    font-size: $font_size;
                    background-color: #FFFFFF;
                    padding: 5px 10px;
                    max-width: 30%;
                    min-width: 20%;
                }
            }
        }
    }
}

@mixin sidebyside($font_size) {
    #sidebyside + table {
        width: 100%;
        table-layout: fixed;
        thead {
            border: none;
            tr {
                border: none;
                th:nth-of-type(1) {
                    font-family: NotoSansCJKjp;
                    font-size: $font_size;
                    line-height: 2.0;
                    border: none;
                    width: 35%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    color: #000000;
                    font-weight: normal;
                    white-space: normal;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                th:nth-of-type(2) {
                    font-family: NotoSansCJKjp;
                    font-size: $font_size;
                    border: none;
                    width: 65%;
                    text-align: center;
                    background-color: #FFFFFF;
                    color: #000000;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }
        tbody {
            border: none;
            tr {
                border: none;
                border-top: 1px #CCCCCC solid;
                td:nth-of-type(1) {
                    font-family: NotoSansCJKjp;
                    font-size: $font_size;
                    line-height: 2.0;
                    border: none;
                    width: 35%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                td:nth-of-type(2) {
                    font-family: NotoSansCJKjp;
                    font-size: $font_size;
                    border: none;
                    width: 65%;
                    text-align: center;
                    background-color: #FFFFFF;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }
    }
}

@mixin process($font_size_1, $font_size_2) {
    #process + table {
        width: 100%;
        table-layout: fixed;
        thead {
            border: none;
            tr {
                border: none;
                th:nth-of-type(1) {
                    font-family: Goudy;
                    font-size: $font_size_1;
                    font-weight: bold;
                    font-style: italic;
                    color: #BBBBBB;
                    border: none;
                    width: 5%;
                    text-align: center;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                th:nth-of-type(2) {
                    font-family: NotoSansCJKjp;
                    font-size: $font_size_2;
                    line-height: 2.0;
                    border: none;
                    width: 35%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    color: #000000;
                    font-weight: normal;
                    white-space: normal;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                th:nth-of-type(3) {
                    font-family: NotoSansCJKjp;
                    font-size: $font_size_2;
                    border: none;
                    width: 60%;
                    text-align: center;
                    background-color: #FFFFFF;
                    color: #000000;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }
        tbody {
            border: none;
            tr {
                border: none;
                //border-top: 1px #CCCCCC solid;
                td:nth-of-type(1) {
                    font-family: Goudy;
                    font-size: $font_size_1;
                    font-weight: bold;
                    font-style: italic;
                    color: #BBBBBB;
                    border: none;
                    width: 5%;
                    text-align: center;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                td:nth-of-type(2) {
                    font-family: NotoSansCJKjp;
                    font-size: $font_size_2;
                    line-height: 2.0;
                    border: none;
                    width: 35%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                td:nth-of-type(3) {
                    font-family: NotoSansCJKjp;
                    font-size: $font_size_2;
                    border: none;
                    width: 60%;
                    text-align: center;
                    background-color: #FFFFFF;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }
    }
}

@mixin point($font_size, $top_1, $left_1, $width_1, $height_1, $top_2, $left_2, $width_2, $height_2) {
    #point + h3 {
        position: relative;
        color: #111;
        font-size: $font_size;
        font-weight: bold;
        margin: 0 0 0.7em;
        padding: 0.5em 0.5em 0.2em 1.5em;
        border-bottom: 2px solid #222222;
        margin-top: 30px;
    }
    #point + h3:before {
        content: "";
        position: absolute;
        background: #555555;
        top: $top_1;
        left: $left_1;
        height: $height_1;
        width: $width_1;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
    #point + h3:after {
        content: "";
        position: absolute;
        background: #AAAAAA;
        top: $top_2;
        left: $left_2;
        height: $height_2;
        width: $width_2;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
}

@mixin list_1st($font_size_base, $line_height, $padding, $top_1, $left_1, $width_1, $height_1, $top_2, $left_2, $width_2, $height_2) {
    ul {
        font-size: $font_size_base;
        margin-top: 15px;
        li {
            position: relative;
            line-height: $line_height;
            margin-top: $padding;
            margin-bottom: $padding;
        }
        li::after,
        li::before {
            display: block;
            content: '';
            position: absolute;
        }
        li::after {
            top: $top_1;
            left: $left_1;
            width: $width_1;
            height: $height_1;
            background-color: #444444;
            border-radius: 100%;
        }
        li::before {
            z-index: 2;
            top: $top_2;
            left: $left_2;
            width: $width_2;
            height: $height_2;
            border-right: 2px solid #FFFFFF;
            border-bottom: 2px solid #FFFFFF;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}

@mixin list_2nd($font_size_base, $line_height, $top_1, $left_1, $width_1, $height_1, $top_2, $left_2, $width_2, $height_2) {
    ul {
        ul {
            font-size: $font_size_base;
            li {
                font-size: $font_size_base;
                position: relative;
            }
            li::after,
            li::before {
                display: block;
                content: '';
                position: absolute;
            }
            li::after {
                top: $top_1;
                left: $left_1;
                width: $width_1;
                height: $height_1;
                background-color: #777777;
                border-radius: 100%;
            }
            li::before {
                z-index: 2;
                top: $top_2;
                left: $left_2;
                width: $width_2;
                height: $height_2;
                border-right: 2px solid #FFFFFF;
                border-bottom: 2px solid #FFFFFF;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}

@mixin h3($font_size_base) {
    h3 {
        font-family: MPlus;
        text-align: left;
        font-size: $font_size_base * 1.5;
        position: relative;
        margin: 0 0 0.7em;
        padding: 0.5em 0.5em 0.2em 1.5em;
        border-bottom: 2px solid #222222;
        margin-top: 30px;
    }
    h3:before {
        content: "□";
        font-size: 1.2em * 0.8;
        position: absolute;
        color: #555555;
        top: 0.4em;
        left: 0.3em;
        height: 52px;
        width: 52px;
    }
    h3:after {
        content: "□";
        font-size: 1.2em * 0.8;
        position: absolute;
        color: #AAAAAA;
        top: 0.7em;
        left: 0;
        height: 52px;
        width: 52px;
    }
}

@mixin column($font_size, $line_height) {
    #column + p {
        font-family: MPlus;
        font-size: $font_size;
        line-height: $line_height;
        position: relative;
        padding: 50px 15px 15px 30px;
        color: #333333;
        background: #E0E0E0;
        padding: 1em;
        border: 2px solid #999999;
        border-radius: 3em .8em 2em .9em/.7em 2em .7em 3em;
        overflow: hidden;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin em($font_size) {
    em {
        font-size: $font_size;
        font-style: normal;
        background-color: #DDDDDD;
    }
}

@mixin blockquote($font_size, $margin_left, $top) {
    blockquote {
        border-left: 0px solid #E5E5E5;
        padding: 0px 0px;
        margin-left: $margin_left;
        position: relative;
        font-weight: bold;
        top: $top;
        color: #FFFFFF;
        p {
            background-color: #666666;
            padding: 2px;
            a {
                font-size: $font_size;
                font-style: normal;
                color: #FFFFFF;
            }
        }
    }
}

@mixin code($font_size) {
    code {
        font-family: Hack;
        font-size: $font_size;
        line-height: 2.0;
    }
}

@mixin a($font_size) {
    a {
        font-family: NotoSansCJKjp;
        text-decoration: none;
        border-bottom: none;
        font-style: italic;
        font-size: $font_size;
        color: #000000;
    }
}

$ch_list: '1', '2', '3', '4';

$ch_img_list: 'https://dl.dropboxusercontent.com/s/p8n04m7bbogsm86/ch_title_img_1.png',
'https://dl.dropboxusercontent.com/s/kn7y8riseci4xxw/ch_title_img_2.png',
'https://dl.dropboxusercontent.com/s/c40c6lrjnuxa4az/ch_title_img_3.png',
'https://dl.dropboxusercontent.com/s/gqkb3l2no2e39o0/ch_title_img_4.png';

@mixin chapter_title_text($font_size, $top, $margin_bottom) {
    #ch_title_text + h1 {
        position: relative;
        font-family: MPlus;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-right: 7px;
        width: 75%;
        overflow: hidden;
        height: 80px;
        font-size: $font_size;
        top: $top;
        margin-bottom: $margin_bottom;
    }
}

@mixin chapter_title_img() {
    @for $i from 1 through length($ch_list) {
        #ch_title_img_#{nth($ch_list, $i)} {
            background-image: url('#{nth($ch_img_list, $i)}');
            background-size: cover;
            width: 600px;
            height: 600px;
            position: relative;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@mixin chapter_body($font_size, $height, $top, $margin_bottom) {
    #ch_body + p {
        position: relative;
        font-family: MPlus;
        //text-align: center;
        margin-left: auto;
        margin-right: auto;
        //width: 80%;
        height: $height;
        overflow: hidden;
        font-size: $font_size;
        top: $top;
        color: #555555;
        margin-bottom: $margin_bottom;
    }
}

@mixin chapter_toc($font_size, $height, $top, $margin_bottom) {
    #ch_toc + ol {
        position: relative;
        font-family: MPlus;
        text-align: left;
        height: $height;
        overflow: hidden;
        font-size: $font_size;
        top: $top;
        color: #AAAAAA;
        margin-bottom: $margin_bottom;
        li {
            padding-top: 3px;
            padding-bottom: 3px;
            a {
                font-family: MPlus;
                font-size: $font_size;
                color: #AAAAAA;
            }
        }
    }
}

$sect_list: '0_0',
'1_1',
'1_2',
'1_3',
'1_4',
'2_1',
'2_2',
'2_3',
'2_4',
'2_5',
'2_6',
'3_1',
'3_2',
'4_1',
'4_2',
'4_3',
'4_4';

$sect_img_list:
'https://dl.dropboxusercontent.com/s/o4kgodzmoi21ibn/sect_title_img_0_0.png',
'https://dl.dropboxusercontent.com/s/oezvkog8ceid6lt/sect_title_img_1_1.png',
'https://dl.dropboxusercontent.com/s/xeygp0z4c9poxft/sect_title_img_1_2.png',
'https://dl.dropboxusercontent.com/s/qhf9lsai33bpt23/sect_title_img_1_3.png',
'https://dl.dropboxusercontent.com/s/dm1n5i0va3ixrcl/sect_title_img_1_4.png',
'https://dl.dropboxusercontent.com/s/p1b2byo5wezf5nf/sect_title_img_2_1.png',
'https://dl.dropboxusercontent.com/s/l4psv533defo6tf/sect_title_img_2_2.png',
'https://dl.dropboxusercontent.com/s/xtngnsqqqkvr1k1/sect_title_img_2_3.png',
'https://dl.dropboxusercontent.com/s/hfqplabh46ncnak/sect_title_img_2_4.png',
'https://dl.dropboxusercontent.com/s/qx3ckkys8xcu5t6/sect_title_img_2_5.png',
'https://dl.dropboxusercontent.com/s/9064tt04em97qkw/sect_title_img_2_6.png',
'https://dl.dropboxusercontent.com/s/gz6eg4d1yf1aj74/sect_title_img_3_1.png',
'https://dl.dropboxusercontent.com/s/k87uxsxa6mq99vu/sect_title_img_3_2.png',
'https://dl.dropboxusercontent.com/s/xp2czcybl5le7nu/sect_title_img_4_1.png',
'https://dl.dropboxusercontent.com/s/16hlrbm8kpnhu4q/sect_title_img_4_2.png',
'https://dl.dropboxusercontent.com/s/93ox0py4e8pflfp/sect_title_img_4_3.png',
'https://dl.dropboxusercontent.com/s/ln0itmf0jrhblt3/sect_title_img_4_4.png';

@mixin section_title_text($font_size, $top, $margin_bottom) {
    #sect_title_text + h1 {
        position: relative;
        font-family: MPlus;
        margin-left:auto;
        text-align: right;
        padding-right: 7px;
        width: 75%;
        overflow: hidden;
        height: 80px;
        font-size: $font_size;
        top: $top;
        margin-bottom: $margin_bottom;
    }
}

@mixin section_title_img() {
    @for $i from 1 through length($sect_list) {
        #sect_title_img_#{nth($sect_list, $i)} {
            background-image: url('#{nth($sect_img_list, $i)}');
            background-size: cover;
            width: 100%;
            height: 250px;
            position: relative;
        }
    }
}

@mixin section_title_preface($font_size, $height, $top, $margin_bottom) {
    #preface + h6 {
        position: relative;
        font-family: MPlus;
        margin-left: auto;
        text-align: left;
        padding-right: 7px;
        padding-left: 30px;
        width: 50%;
        height: $height;
        overflow: hidden;
        font-size: $font_size;
        top: $top;
        color: #555555;
        margin-bottom: $margin_bottom;
    }
}

@mixin point_item($font_size_base, $line_height, $top, $left, $width, $height) {
    #point_item + ul {
        font-size: $font_size_base;
        li {
            line-height: $line_height;
            position: relative;
            margin-top: 15px;
            padding-bottom: 10px;
        }
        li::before {
            border-right: none;
            border-bottom: none;
        }
        li::after {
            position: absolute;
            z-index: 2;
            content: '';
            width: $width;
            height: $height;
            background-color: #CCCCCC;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border-radius: 0%;
            left: $left;
            top: $top;
        }
    }
}

@mixin space_xs($space) {
    #space_xs {
        display: block;
        height: $space;
    }
}

@mixin space_s($space) {
    #space_s {
        display: block;
        height: $space;
    }
}

@mixin space_m($space) {
    #space_m {
        display: block;
        height: $space;
    }
}

@mixin space_l($space) {
    #space_l {
        display: block;
        height: $space;
    }
}

@mixin space_xl($space) {
    #space_xl {
        display: block;
        height: $space;
    }
}

@mixin common($font_size_base, $line_height) {
    font-family: NotoSansCJKjp;
    line-height: $line_height;
    p {
        font-size: $font_size_base;
        margin-left: 15px;
        padding-left: 5px;
    }
    pre {
        background: #FBFBFB;
        padding: 10px;
        border: #666666 solid 1px;
        >code {
            font-family: Hack;
            font-size: $font_size_base * 0.7;
            line-height: $line_height * 1.2;
        }
    }



    #section_desc + p {
        text-align: right;
        font-size: $font_size_base * 0.9;
        margin-left: 60%;
    }
    h2 {
        text-align: left;
        font-size: $font_size_base * 2.0;
        border-left: 15px
        solid #555555;
        padding: 7px;
        background: #CCCCCC;
        margin-top: 50px;
    }
    h4 {
        font-family: MPlus;
        text-align: left;
        font-size: $font_size_base * 1.1;
        font-weight: bold;
        margin-top: 20px;
    }
    img {
        text-align: center;
    }
    b {
        font-weight: bold;
        font-size: $font_size_base * 0.9;
    }
    &.toc {
        >h1 {
            text-align: right;
        }
    }
}
