@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: normal;
    src: url('https://dl.dropboxusercontent.com/s/1uagfjphtpb5aaq/NotoSansCJKjp-DemiLight-Subset.woff') format('woff');
}

@font-face {
    font-family: "MPlus";
    font-style: normal;
    font-weight: normal;
    src: url('https://dl.dropboxusercontent.com/s/tmzaf75eoklqs75/mplus-1c-bold.ttf') format('truetype');
}

@font-face {
    font-family: "Hack";
    font-style: normal;
    font-weight: normal;
    src: url('https://dl.dropboxusercontent.com/s/vnhqzxqn6kxguqu/Hack-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Goudy";
    font-style: normal;
    font-weight: normal;
    src: url('https://dl.dropboxusercontent.com/s/ul8kqtbiklr6cal/goudy_bookletter_1911.otf') format('opentype');
}

@mixin table($font_size_base) {
    table {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        thead {
            tr {
                th {
                    font-family: MPlus;
                    font-size: $font_size_base * 1.1;
                    color: #EEEEEE;
                    background-color: #000000;
                    padding: 5px 10px;
                    white-space: nowrap;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: $font_size_base;
                    background-color: #FFFFFF;
                    padding: 5px 10px;
                }
            }
        }
    }
}

@mixin process($font_size_base) {
    #process + table {
        width: 100%;
        thead {
            border: none;
            tr {
                border: none;
                th:nth-of-type(1) {
                    font-family: Goudy;
                    font-size: $font_size_base * 2.0;
                    text-shadow: 5px 5px 1px #999999;
                    border: none;
                    width: 5%;
                    text-align: center;
                    background-color: #FFFFFF;
                    vertical-align: top;
                }
                th:nth-of-type(2) {
                    font-size: $font_size_base * 1.0;
                    border: none;
                    width: 35%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                }
                th:nth-of-type(3) {
                    font-size: $font_size_base * 0.9;
                    border: none;
                    width: 60%;
                    text-align: center;
                    background-color: #FFFFFF;
                }
            }
        }
        tbody {
            border: none;
            tr {
                td:nth-of-type(1) {
                    font-family: Goudy;
                    font-size: $font_size_base * 3.0;
                    font-weight: bold;
                    font-style: italic;
                    color: #BBBBBB;
                    border: none;
                    width: 5%;
                    text-align: center;
                    background-color: #FFFFFF;
                    vertical-align: top;
                }
                td:nth-of-type(2) {
                    font-size: $font_size_base * 0.9;
                    border: none;
                    width: 35%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                }
                td:nth-of-type(3) {
                    font-size: $font_size_base * 0.9;
                    border: none;
                    width: 60%;
                    text-align: center;
                    background-color: #FFFFFF;
                }
            }
        }
    }
}

@mixin point($font_size_base) {
    #point + h3 {
        position: relative;
        color: #111;
        font-size: $font_size_base * 1.5;
        font-weight: bold;
        margin: 0 0 0.7em;
        padding: 0.5em 0.5em 0.2em 1.5em;
        border-bottom: 2px solid #222222;
    }
    #point + h3:before {
        content: "";
        position: absolute;
        background: #555555;
        top: 0.6em;
        left: 0.55em;
        height: 10px;
        width: 10px;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
    #point + h3:after {
        content: "";
        position: absolute;
        background: #AAAAAA;
        top: 1.2em;
        left: 0.2em;
        height: 6px;
        width: 6px;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
}

@mixin common($font_size_base, $line_height) {
    font-family: NotoSansCJKjp;
    line-height: $line_height;
    p {
        font-size: $font_size_base;
        margin-left: 15px;
    }
    pre {
        background: #FBFBFB;
        padding: 10px;
        border: #666666 solid 1px;
        >code {
            font-family: Hack;
            font-size: $font_size_base * 0.7;
            line-height: $line_height * 1.2;
        }
    }
    code {
        font-family: Hack;
        font-size: $font_size_base * 0.7;
    }

    h1 {
        font-family: MPlus;
        text-align: right;
        font-size: $font_size_base * 3.0;
    }
    #section_desc + p {
        text-align: right;
        font-size: $font_size_base * 0.9;
        margin-left: 60%;
    }
    h2 {
        text-align: left;
        font-size: $font_size_base * 2.0;
        border-left: 15px
        solid #555555;
        padding: 7px;
        background: #CCCCCC;
    }
    h3 {
        font-family: MPlus;
        text-align: left;
        font-size: $font_size_base * 1.5;
        position: relative;
        margin: 0 0 0.7em;
        padding: 0.5em 0.5em 0.2em 1.5em;
        border-bottom: 2px solid #222222
    }
    h3:before {
        content: "□";
        font-size: 1.2em * 0.8;
        position: absolute;
        color: #555555;
        top: 0.4em;
        left: 0.3em;
        height: 52px;
        width: 52px;
    }
    h3:after {
        content: "□";
        font-size: 1.2em * 0.8;
        position: absolute;
        color: #AAAAAA;
        top: 0.7em;
        left: 0;
        height: 52px;
        width: 52px;
    }
    h4 {
        text-align: left;
        font-size: $font_size_base * 1.1;
        font-weight: bold;
    }
    #column + p {
        font-family: MPlus;
        font-size: $font_size_base * 0.8;
        position: relative;
        padding: 50px 15px 15px 30px;
        color: #333333;
        background: #E0E0E0;
        //border: #222222 dashed 2px;
        padding: 1em;
        border: 2px solid #999999;
        border-radius: 3em .8em 2em .9em/.7em 2em .7em 3em;
        overflow: hidden;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        //background-image: url('https://dl.dropboxusercontent.com/s/bx2fqzhe0ty8kop/column.png');
        //background-position: 15px 10px;
        //background-repeat: no-repeat;
        //background-size: 18% auto;
    }
    #column + p:before {
    /*    content: " ";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-width: 16px 16px 0 0;
        border-style: solid;
        border-color: #FFFFFF;
        border-top-color: #444444;
        box-shadow: 0 1px 1px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4);*/
    }

    a {
        text-decoration: none;
        border-bottom: none;
        font-style: italic;
        font-size: $font_size_base * 0.85;
        color: #000000;
    }
    em {
        font-style: normal;
        background-color: #DDDDDD;
    }
    img {
        text-align: center;
    }
    b {
        font-weight: bold;
        font-size: $font_size_base * 0.9;
    }
    blockquote {
        border-left: 0px solid #E5E5E5;
        padding: 0px 0px;
        position: relative;
        top: 15px;
        color: #FFFFFF;
        p {
            background-color: #666666;
            padding: 2px;
            a {
                font-size: $font_size_base * 0.6;
                font-style: normal;
                color: #FFFFFF;
            }
        }
    }
    ul {
        font-size: $font_size_base;
        line-height: $line_height * 1.1;
        ul {
            font-size: $font_size_base * 0.9;
            li {
                font-size: $font_size_base * 0.9;
                line-height: $line_height * 1.1;
            }
        }
    }
    &.toc {
        >h1 {
            text-align: right;
        }
    }
}
