@import "include/common.scss";

.page {
    .section {
        @include common(0.65em, 0.8);
        @include table(0.65em);
        @include process(1.1em, 0.65em);
        @include process_title(0.8em);
        @include process_start_end();
        @include process_separator();
        @include sidebyside(0.65em);
        @include webpage(0.65em);
        @include point(0.65em * 1.5, 0.6em, 0.55em, 10px, 10px, 1.2em, 0.2em, 6px, 6px);
        @include ordered_list_1st(0.65em);
        @include list_1st(0.65em, 1.5, 2px, 0.25em, -1.4em, 14px, 14px, .51em, -1.25em, 4px, 4px);
        @include list_2nd(0.9em, 1.0, .25em, -1.5em, 11px, 11px, .51em, -1.35em, 3px, 3px);
        @include h2(1.3em);
        @include h3(1.0em);
        @include h4(1.0em);
        @include h5(0.8em);
        @include column(0.65em * 0.8, 1.3);
        @include em(0.80em);
        @include blockquote(0.55em, 18px, 26px);
        @include code(0.80em);
        @include a(0.8em);
        @include chapter_title_img();
        @include chapter_title_text(1.95em, -340.0px, -50px);
        @include chapter_body(0.65em, 150px, -30px, -110px);
        @include chapter_toc(0.8em, 0px, 0px);
        @include section_title_text(0.65em * 3, -280.0px, -210px);
        @include section_title_img();
        @include section_title_preface(0.65em * 0.7, 150px, -75px, -70px);
        @include point_item(0.65em, 1.5, 0.3em, -1.3em, 12px, 12px);
        @include space_no(0px);
        @include space_xxs(10px);
        @include space_xs(20px);
        @include space_s(40px);
        @include space_m(80px);
        @include space_l(120px);
        @include space_xl(160px);
        @include space_xxl(200px);
        @include space_xxxl(240px);
        @include space_x4l(280px);
        @include space_x5l(320px);
        @include space_page(930px);
        @include space_chapter_1(240px);
        @include space_chapter_2(300px);
        @include space_chapter_3(240px);
        @include space_chapter_4(240px);
        @include strong(1.04em);
    }

    .section {
        &.glossary {
            >h1 {
                text-align: center;
                font-family: MPlus;
                margin-left:auto;
                text-align: right;
                padding-right: 7px;
                width: 100%;
                overflow: hidden;
                height: 250px;
                font-size: 0.65em * 3;
                background-image: url('https://dl.dropboxusercontent.com/s/o4kgodzmoi21ibn/sect_title_img_0_0.png');
                background-size: cover;
                position: relative;
            }
        }
        &.toc {
            >h1 {
                text-align: center;
                font-family: MPlus;
                margin-left:auto;
                margin-right: auto;
                overflow: hidden;
                font-size: 0.65em * 3;
            }
/*            li {
                ol {
                    color: #880088;
                    counter-reset: sect_item 0;
                }
                li:before {
                    content: counter(sect_item) ". ";
                    counter-increment: sect_item;
                }
            }*/
            li {
                margin-top: 10px;
                .inner {
                    a {
                        font-size: 0.5em;
                        font-family: MPlus;
                    }
                    .page {
                        font-family: MPlus;
                        font-size: 0.5em;
                        border-bottom: 1px solid #EEEEEE;
                    }
                }
            }
        }
    }
}

.pdf-header {
    border-bottom: 1px solid #333333;
    font-size: 0.45em;
    color: #333333;
    font-family: NotoSansCJKjp;
    margin-top: 20px;
    padding-bottom: 0px;
    text-align: center;
}

.pdf-footer {
    border-top: 1px solid #333333;
    font-size: 0.45em;
    color: #333333;
    font-family: NotoSansCJKjp;
    margin-top: 20px;
    padding-top: 0px;
    text-align: center;
    .footer-pages-count {
        text-align: center;
        color: #333333;
        float: none;
    }
}

.back_cover {
    overflow: visible;
    width: 200px;
    margin-left: -1px;
}
