@import "components/common/_fonts.scss";

@mixin process()
{
    #process + table {
        width: 100%;
        max-width: 100%;
        table-layout: fixed;
        thead {
            border: none;
            tr {
                border: none;
                th:nth-of-type(1) {
                    font-weight: bold;
                    font-style: italic;
                    color: #BBBBBB;
                    border: none;
                    width: 5%;
                    max-width: 5%;
                    text-align: center;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    font-size: 3.0rem;
                }
                th:nth-of-type(2) {
                    border: none;
                    width: 45%;
                    max-width: 45%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    color: #000000;
                    font-weight: normal;
                    white-space: normal;
                }
                th:nth-of-type(3) {
                    //font-family: NotoSansCJKjp;
                    border: none;
                    width: 50%;
                    max-width: 50%;
                    text-align: center;
                    background-color: #FFFFFF;
                    color: #000000;
                }
            }
        }
        tbody {
            border: none;
            tr {
                border: none;
                td:nth-of-type(1) {
                    font-weight: bold;
                    font-style: italic;
                    color: #BBBBBB;
                    border: none;
                    width: 5%;
                    max-width: 5%;
                    text-align: center;
                    background-color: #FFFFFF;
                    vertical-align: top;
                }
                td:nth-of-type(2) {
                    line-height: 2.0;
                    border: none;
                    width: 45%;
                    max-width: 45%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                }
                td:nth-of-type(3) {
                    border: none;
                    width: 50%;
                    max-width: 50%;
                    text-align: center;
                    background-color: #FFFFFF;
                }
            }
        }
    }
}

@mixin process_noimg()
{
    #process_noimg + table {
        width: 100%;
        max-width: 100%;
        table-layout: fixed;
        thead {
            border: none;
            tr {
                border: none;
                th:nth-of-type(1) {
                    font-weight: bold;
                    font-style: italic;
                    color: #BBBBBB;
                    border: none;
                    width: 5%;
                    max-width: 5%;
                    text-align: center;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    font-size: 3.0rem;
                }
                th:nth-of-type(2) {
                    border: none;
                    width: 95%;
                    max-width: 95%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    color: #000000;
                    font-weight: normal;
                    white-space: normal;
                }
            }
        }
        tbody {
            border: none;
            tr {
                border: none;
                td:nth-of-type(1) {
                    font-weight: bold;
                    font-style: italic;
                    color: #BBBBBB;
                    border: none;
                    width: 5%;
                    max-width: 5%;
                    text-align: center;
                    background-color: #FFFFFF;
                    vertical-align: top;
                }
                td:nth-of-type(2) {
                    line-height: 2.0;
                    border: none;
                    width: 95%;
                    max-width: 95%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                }
            }
        }
    }
}

@mixin sidebyside()
{
    #sidebyside + table {
        width: 100%;
        max-width: 100%;
        table-layout: fixed;
        margin-top: 10px;
        margin-bottom: 10px;
        thead {
            border: none;
            tr {
                border: none;
                th:nth-of-type(1) {
                    border: none;
                    width: 50%;
                    max-width: 50%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    color: #000000;
                    font-weight: normal;
                    white-space: normal;
                }
                th:nth-of-type(2) {
                    border: none;
                    width: 50%;
                    max-width: 50%;
                    text-align: center;
                    background-color: #FFFFFF;
                    color: #000000;
                }
            }
        }
        tbody {
            border: none;
            tr {
                border: none;
                td:nth-of-type(1) {
                    border: none;
                    width: 50%;
                    max-width: 50%;
                    text-align: left;
                    background-color: #FFFFFF;
                    vertical-align: top;
                }
                td:nth-of-type(2) {
                    border: none;
                    width: 50%;
                    max-width: 50%;
                    text-align: center;
                    background-color: #FFFFFF;
                }
            }
        }
    }
}

@mixin process_start_end()
{
    #process_start_end + hr {
        height: 0px;
    }
}

@mixin process_separator()
{
    #process_sep + hr {
        height: 1px;
        width: 100%;
        background-color: #BBBBBF;
    }
}


@mixin process_title()
{
    #process_title + h5 {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        text-align: center;
        text-decoration: none;
        background-color: #666666;
        color: #FFFFFF;
        font-size: 2.5rem;
    }
}

@mixin chapter_title_text()
{
    #ch_title_text + h1 {
    }
}

@mixin chapter_body() {
    #ch_body + p {
        color: #333333;
    }
}

@mixin chapter_toc_title() {
    #ch_toc_title + h2 {
    }
}

.book {
    .book-body {
        .page-wrapper {
            .page-inner {
                section.normal {
                    p {
                    }
                    pre {
                        background: #FBFBFB;
                        >code {
                        }
                    }
                    h1 {
                    }
                    h2 {
                        background: #E0E0E0;
                        padding-left: 1.5rem;
                    }
                    h3 {
                        padding-left: 1.0rem;
                        padding-bottom: 0.2rem;
                        border-bottom: 1px solid #E0E0E0;
                    }
                    h4 {
                        display: inline;
                        padding: 2px 0.5em;
                        border-bottom: 1px solid #E0E0E0;
                    }
                    h5 {
                    }
                    @include sidebyside();
                    @include process();
                    @include process_noimg();
                    @include process_start_end();
                    @include process_separator();
                    @include process_title();
                    @include chapter_title_text();
                    @include chapter_body();
                    @include chapter_toc_title();
                }
            }
        }
    }
}
