@import "include/common.scss";

.book {
    .book-body {
        .page-wrapper {
            .page-inner {
                section.normal {
                    @include common(1.2em, 1.4);
                    @include table(1.2em);
                    @include process(2.5em, 1.2em * 0.9);
                    @include sidebyside(1.2em * 0.9)
                    @include point(1.2em * 1.5, 0.8em, 0.55em, 13px, 13px, 1.4em, 0.2em, 7px, 7px);
                    @include list_1st(1.2em, 1.5, 5px, 0.4em, -1.2em, 16px, 16px, .67em, -1.02em, 5px, 5px);
                    @include list_2nd(0.9em, 1.0, .45em, -1.3em, 14px, 14px, .75em, -1.1em, 4px, 4px);
                    @include h3(1.2em);
                    @include column(1.2em * 0.8, 1.0);
                    @include em(0.9em);
                    @include blockquote(0.82em, -15px, 20px);
                    @include code(0.7em);
                    @include a(1.2em * 0.85);
                    @include chapter_title_img();
                    @include chapter_title_text(2.2em, -340.0px, -50px);
                    @include chapter_body(0.65em, 150px, 0px, 0px);
                    @include chapter_toc(0.65em, 150px, 0px, 0px);
                    @include section_title_text(2.2em, -285.0px, -200px);
                    @include section_title_img();
                    @include section_title_preface(1.2em * 0.7, 200px, -100px, -100px);
                    @include point_item(1.2em, 1.5, 0.4em, -1.2em, 14px, 14px);
                }
            }
        }
    }
}
