@font-face {
    font-family: "NotoSansCJKjp";
    font-style: normal;
    font-weight: normal;
    src: url('https://dl.dropboxusercontent.com/s/1uagfjphtpb5aaq/NotoSansCJKjp-DemiLight-Subset.woff') format('woff');
}

@font-face {
    font-family: "MPlus";
    font-style: normal;
    font-weight: normal;
    src: url('https://dl.dropboxusercontent.com/s/tmzaf75eoklqs75/mplus-1c-bold.ttf') format('truetype');
}

@font-face {
    font-family: "Hack";
    font-style: normal;
    font-weight: normal;
    src: url('https://dl.dropboxusercontent.com/s/vnhqzxqn6kxguqu/Hack-Regular.ttf') format('truetype');
}
